@import "tailwindcss";

@theme {
    /* Primary */
    --color-primary: #4f46e5;
    --color-primary-dark: #4338ca;
    --color-primary-light: #6366f1;

    /* Secondary */
    --color-secondary: #64748b;

    /* Background */
    --color-background: #f8fafc;
    --color-card: #ffffff;

    /* Text */
    --color-text: #0f172a;
    --color-text-muted: #64748b;

    /* Border */
    --color-border: #e2e8f0;
}